<body class="bg-dark">
  <h1 class="text-white bg-primary text-center p-4 m-4">Edit Article</h1>

  <section class="p-4 text-center text-uppercase font-weight-bold">
    <%= render "form", article: @article %>
  </section>
</body>