<body class="bg-dark">
  <h1 class="bg-primary text-white text-center p-4 m-4">New Article</h1>

  <section class="text-center text-uppercase p-4">
    <%= render "form", article: @article %>
  </section>
</body>